RewriteEngine On
RewriteBase /

<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

<Files publish.sh>
Order Allow,Deny
Deny from all
</Files>

<Files publish.bat>
Order Allow,Deny
Deny from all
</Files>

<Files esp32_firmware.ino.generic.bin>
Order Allow,Deny
Deny from all
</Files>

<Files firmware.tar.gz>
Order Allow,Deny
Deny from all
</Files>

<Files firmware.version>
Order Allow,Deny
Deny from all
</Files>

# Disable directory browsing
Options All -Indexes